@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/proximanova/proximanova-bold.woff2) format("woff2");
}

@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/proximanova/proximanova-regular.woff2) format("woff2");
}

@font-face {
  font-family: "usual";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/usual/usual-bold.woff2) format("woff2");
}
/* 
@font-face {
  font-family: "roobert";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/roobert/roobert-bold.woff2) format("woff2");
} */
