---
import Layout from "@layouts/Layout.astro"
import Container from "@components/Container.astro"
import Heading from "@components/Heading.astro"
---

<Layout title="Contacto - Códice Clínico" description="¿Dudas sobre Códice Clínico? Ponte en contacto con nuestro equipo. Soporte personalizado para clínicas privadas y consultorios médicos." robots="noindex, follow" includeFooter={false}>
  <Container variant="hero" classMaxWidth="max-w-4xl">
    <Heading maintitle="Contacto" />
    <p>El programa en la nube todo en uno para la práctica clínica.</p>
  </Container>
</Layout>
