---
import Layout from "@layouts/Layout.astro"
import Container from "@components/Container.astro"
import Heading from "@components/Heading.astro"
---

<Layout title="" description="" includeFooter={false}>
  <Container variant="hero" classMaxWidth="max-w-4xl">
    <Heading maintitle="Contacto" />
    <p>El programa en la nube todo en uno para la práctica clínica.</p>
  </Container>
</Layout>
