---
import Layout from "@layouts/Layout.astro"
import CTAButton from "@components/CTAButton.astro"
---

<Layout title="Códice Clínico" description="">
  <section class="py-32 2xl:py-36">
    <div class="container">
      <div class="text-center">
        <h1
          class="text-6xl md:text-9xl lg:text-11xl 2xl:text-16xl py-4 text-black font-sans-1"
        >
          Códice Clínico
        </h1>
        <p class="mt-4">
          El programa en la nube todo en uno para la práctica clínica.
        </p>
        <CTAButton href="/solicita-demo" size="md">
          Solicita una demo
        </CTAButton>
      </div>
    </div>
  </section>
  <section class="container py-16">
    <h2 class="text-3xl font-bold mb-12 text-center">Caracteristicas</h2>
    <div class="grid grid-cols-3 gap-8">
      <div>
        <h3>Gestión de citas</h3><p>Reserva, anula, mueve citas.</p>
      </div>
      <div><h3>EHR</h3><p>Historia clínica digital.</p></div>
      <div>
        <h3>Gestión de personal</h3><p>Asigna, mueve consultorios.</p>
      </div>
    </div>
  </section>
  <section class="container py-16">
    <h2 class="text-3xl font-bold mb-12 text-center">Beneficios</h2>
    <ul class="max-w-4xl mx-auto">
      <li>
        Interoperatividad. Puedes irte cuando quieras y llevarte tus datos
        contigo.
      </li>
      <li>Reduce errores, reduce costes.</li>
      <li>
        Gestión de usuarios. Controla quién tiene acceso a cada tipo de
        información con un sistema de permisos granular y flexible.
      </li>
    </ul>
  </section>
</Layout>
