---
import Layout from "@layouts/Layout.astro"
import Container from "@components/Container.astro"
import Heading from "@components/Heading.astro"
---

<Layout title="Política de privacidad" description="" includeFooter={false}>
  <Container variant="hero" classMaxWidth="max-w-4xl">
    <div class="max-w-4xl">
      <Heading maintitle="Política de privacidad" />
    </div>
  </Container>
  <Container classMaxWidth="max-w-4xl">
    <p>
      En la presente política de privacidad y protección de datos se detalla el
      tratamiento de los datos de carácter personal recabados, que actuará en
      todo momento de acuerdo a lo establecido en la legislación vigente y, en
      concreto, de conformidad con las disposiciones contenidas en el Reglamento
      (UE) 2016/679 del Parlamento Europeo y del Consejo del 27 de abril de 2016
      relativo a la protección de las personas físicas con respecto del
      tratamiento de datos personales y a la libre circulación de esos datos
      (RGPD), en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de
      Datos Personales y garantía de los derechos digitales (LOPD) y en Ley
      34/2002, de 11 de julio, de servicios de la sociedad de la información y
      de comercio electrónico (LSSI).
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">
      1. ¿Quién es el responsable del tratamiento de tus datos?
    </h2>
    <p>
      El titular y responsable del tratamiento es Códice Clínico. Correo de
      protección de datos y DPD: protecciondedatos@codiceclinico.com
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">
      2. ¿Cómo recabamos tus datos personales?
    </h2>
    <p>
      Recabamos los datos personales que nos facilitas a través de nuestra web,
      mediante formularios y herramientas de suscripción con campos a completar,
      a través de correo electrónico y otras aplicaciones de mensajería. En el
      momento de recogida se te informará de nuestra Política de protección de
      datos. Recomendamos expresamente la lectura de estas cláusulas
      informativas antes de proceder al envío de los datos personales
    </p>
    <p>
      Asimismo, recabamos y almacenamos información personal limitada y
      estadísticas globales anónimas de todos aquellos usuarios que visitan
      nuestra web. Esta información se recaba a través de cookies, para más
      información consulta las Normas de uso de la web y la Política de cookies.
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">
      3. ¿Con qué finalidad tratamos tus datos personales?
    </h2>
    <p>
      En Códice Clínico tratamos la información que nos facilitas con las
      siguientes finalidades:
    </p>
    <ul class="list-disc">
      <li>
        Enviar a través de cualquier canal (correo postal o electrónico,
        teléfono fijo o móvil, SMS, app de mensajería tipo WhatsApp etc.)
        información sobre las actividades, campañas e iniciativas de Códice
        Clínico o de las coaliciones en las que participe, incluyendo la
        información destinada a la captación de fondos.
      </li>
      <li>
        Gestionar la participación de aquellas personas que estén interesadas en
        colaborar con Códice Clínico, asistir a los eventos que organice y/o
        participar como persona voluntaria o activista en las campañas
        electorales, presentes y futuras, del partido o de las coaliciones en
        las que participe.
      </li>
      <li>
        Gestionar la incorporación a los canales de información o listas de
        distribución para las finalidades descrita en el punto anterior.
      </li>
      <li>Enviar encuestas y realizar estudios estadísticos.</li>
      <li>Atender las consultas que se nos hagan llegar.</li>
    </ul>
    <p>
      Con tu inscripción aceptas el tratamiento de tus datos personales por
      parte de Códice Clínico, y de sus encargados de tratamiento, para los
      fines indicados.
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">
      4. ¿Con qué legitimación vamos a tratar tus datos?
    </h2>
    <p>
      La base legal para el tratamiento es el consentimiento del interesado para
      los fines indicados, el interés legítimo perseguido por Códice Clínico y
      el cumplimiento de las obligaciones legales aplicables al responsable del
      tratamiento, todo ello de conformidad con lo regulado en el Art. 6 RGPD.
    </p>
    <p>
      Los datos personales proporcionados se conservarán durante el tiempo
      necesario para cumplir con las finalidades para la que se recaban y para
      dar cumplimiento a las obligaciones legales; todo ello mientras no se
      solicite la baja por parte del interesado o se revoque el consentimiento.
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">
      5. ¿A quién comunicamos tus datos?
    </h2>
    <p>
      Los datos personales que facilites a Códice Clínico no serán cedidos o
      comunicados a terceros, salvo obligación legal y en los siguientes casos:
    </p>
    <ul class="list-disc">
      <li>Requerimiento de las autoridades competentes.</li>
      <li>
        A las empresas que sean contratadas por el partido, con el fin de
        gestionar debidamente el servicio prestado, siempre respetando las
        finalidades del tratamiento detalladas en las presentes cláusulas y
        suscribiendo los correspondientes contratos de encargo de tratamiento de
        datos.
      </li>
    </ul>
    <p>
      No se producirán transferencias a terceros países u organizaciones
      internacionales que no ofrezcan garantías adecuadas.
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">6. ¿Cuáles son tus derechos?</h2>
    <p>
      Mediante solicitud escrita y firmada, acompañada de copia de Documento
      oficial de Identidad, con dirección de contacto para su respuesta y
      dirigida a Códice Clínico, al correo electrónico
      protecciondedatos@codiceclinico.com, puedes:
    </p>
    <ul class="list-disc">
      <li>
        Ejercer los derechos de acceso, rectificación, supresión y portabilidad
        sobre tus datos personales, de limitación y oposición a su tratamiento.
      </li>
      <li>
        Retirar en cualquier momento el consentimiento prestado para el
        tratamiento o comunicación de tus datos.
      </li>
    </ul>
    <p>
      Responderemos a tus peticiones a la mayor brevedad posible y, en todo
      caso, en el plazo de un mes desde la recepción de su solicitud.
    </p>
    <p>
      Asimismo, tienes derecho a interponer una reclamación ante la Agencia
      Española de Protección de Datos (AEPD), mediante escrito dirigido a C/
      Jorge Juan, 6. 28001-Madrid o a través de su web https://www.aepd.es/es.
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">
      7. Exactitud y veracidad de los datos.
    </h2>
    <p>
      La persona y usuario de la página web que facilita voluntariamente sus
      datos personales a Códice Clínico garantiza que los datos personales
      facilitados son veraces y correctos, reservándose Códice Clínico el
      derecho a excluir de los servicios del sitio web y de los canales de
      comunicación a toda persona y usuario que haya facilitado datos falsos,
      sin perjuicio de las demás acciones que procedan en Derecho.
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">8. Medidas de seguridad</h2>
    <p>
      Códice Clínico ha adoptado e implementado las oportunas medidas técnicas y
      organizativas, a fin de garantizar la seguridad, confidencialidad,
      disponibilidad e integridad de los datos personales objeto de tratamiento.
    </p>
    <p>
      A pesar de ello, siempre que se proporciona información personal en la
      red, existe el riesgo de que terceras personas, cuyo control queda fuera
      de nuestro alcance, puedan interceptar esta información y utilizarla.
    </p>

    <h2 class="text-3xl font-bold mt-12 mb-6">9. Actualización.</h2>
    <p>
      La presente política de privacidad ha sido actualizada en mayo de 2026.
    </p>
    <p>
      Códice Clínico ser reserva el derecho de modificar su política de
      privacidad en el supuesto de que exista un cambio de la legislación
      vigente, doctrina jurisprudencial o de la Agencia Española de Protección
      de Datos o por criterios propios del partido. Si se introdujese algún
      cambio en esta política, el nuevo texto se publicará en esta misma
      dirección.
    </p>
  </Container>
</Layout>
