---
import Layout from "@layouts/Layout.astro"
import Hero from "@components/Hero.astro"
---

<Layout title="Precios" description="">
  <Hero
    maintitle="Precios"
    secondarycontent="Nos adaptamos a todo tipo de práctica clínica, desde particulares a clínicas."
  />
  <section class="container py-16">
    <h2 class="mb-8">Caracteristicas</h2>
    <div class="grid grid-cols-3 gap-8">
      <div><h3>Usuario</h3><ul><li>-…</li></ul></div>
      <div><h3>Entre 2 y 10 usuarios</h3><ul><li>-…</li></ul></div>
      <div><h3>Más de 10 usuarios</h3><ul><li>-…</li></ul></div>
    </div>
  </section>
</Layout>
