---
import Layout from "@layouts/Layout.astro"
import Hero from "@components/Hero.astro"
import Form from "@components/Form.astro"
---

<Layout title="" description="" includeHeader={false} includeFooter={false}>
  <Hero
    maintitle="¿Preparado para el cambio?"
    secondarycontent="Agenda una sesión gratuita con nuestro equipo y descubre cómo Códice Clínico puede transformar la gestión de tu clínica en menos tiempo del que imaginas."
  />
  <section class="container">
    <Form />
  </section>
  <section class="container py-16">
    <ul class="max-w-4xl mx-auto">
      <li>Demo personalizada sin compromiso</li>
      <li>Te explicamos cómo migrar tus datos actuales</li>
      <li>Resolveremos todas tus dudas en 30 minutos</li>
      <li>Sin instalaciones ni contratos de permanencia</li>
    </ul>
  </section>
</Layout>
