---
import type { AstroComponent } from "@lucide/astro"
interface Props {
  title: string
  icon?: AstroComponent
}
const { title, icon: IconComponent } = Astro.props
---

<div
  class="bg-linear-to-br from-m-blue-50 to-m-blue-100 rounded-2xl p-8 border border-m-blue-100"
>
  {
    IconComponent && (
      <div class="w-12 h-12 bg-m-blue-500 text-white rounded-full flex items-center justify-center mb-6">
        <IconComponent class="w-5 h-5" />
      </div>
    )
  }
  <h3 class="text-xl font-bold mb-4">{title}</h3>
  <slot />
</div>
