---
import Container from "@components/Container.astro"
import Heading from "@components/Heading.astro"
import CTAButton from "@components/CTAButton.astro"
---

<Container classMaxWidth="max-w-4xl mx-auto">
  <div class="text-center py-16 2xl:py-32">
    <Heading maintitle="¿Preparado para el cambio?" variant="h3" />
    <p class="text-3xl md:text-6xl lg:text-9xl py-6">
      Agenda una demo y transforma tu clínica en menos tiempo del que imaginas.
    </p>
    <p>
      Una sesión gratuita de 30 minutos con nuestro equipo y resolvemos todas
      tus dudas.
    </p>
    <CTAButton href="/solicita-demo" size="md" class="my-8"
      >Solicita una demo gratuita</CTAButton
    >
    <ul class="mb-0 flex gap-8 place-content-center text-sm">
      <li>Sin compromiso</li>
      <li>Sin instalaciones</li>
      <li>Sin permanencia</li>
    </ul>
  </div>
</Container>
