---

---

<footer class="py-8 border-t border-gray-300">
  <div class="container">
    <div
      class="flex flex-col md:flex-row items-center justify-between gap-4 text-sm"
    >
      <div class="flex items-center gap-3">
        <span>© {new Date().getFullYear()} Códice Clínico</span>
      </div>
      <div class="flex items-center gap-6">
        <a href="/politica-de-privacidad"> Política de privacidad </a>
        <a href="/contacto"> Contacto </a>
      </div>
    </div>
  </div>
</footer>
