---
import CTAButton from "@components/CTAButton.astro"
import MainMenu from "./MenuMain.astro"
import Logo from "./Logo.astro"
---

<header class="sticky top-0 z-50 bg-white border-b border-black/10">
  <div class="container flex justify-between items-center h-16">
    <div class="flex items-center">
      <a href="/" aria-label="Inicio">
        <Logo />
      </a>
      <button
        id="mobile-menu-btn"
        class="p-2 lg:hidden"
        type="button"
        aria-label="Acceso Menú"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          arial-hidden="true"
          class="close absolute z-20 top-20 right-20 hidden"
          id="icon-close"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
        <svg
          width="32"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          arial-hidden="true"
          class="open"
          id="icon-open"
        >
          <>
            <path d="m 0,4.7830688 h 24 v 2.4 H 0 Z"></path>
            <path d="m 0,16.816931 h 22 v 2.4 H 0 Z"></path>
            <path d="m 0,10.8 h 20 v 2.4 H 0 Z"></path>
          </>
        </svg>
      </button>
      <div id="desktop-nav" class="hidden lg:flex items-center">
        <MainMenu />
      </div>
    </div>
    <CTAButton href="/solicita-demo" size="xs" variant="outline">Demo</CTAButton
    >
  </div>
  <div
    id="mobile-nav"
    class="hidden lg:hidden border-t border-black/10 bg-white"
  >
    <div class="container py-6">
      <MainMenu />
    </div>
  </div>
</header>

<script>
  function initMobileMenu() {
    const btn = document.getElementById("mobile-menu-btn")
    const mobileNav = document.getElementById("mobile-nav")
    const iconOpen = document.getElementById("icon-open")
    const iconClose = document.getElementById("icon-close")

    btn?.addEventListener("click", () => {
      const isOpen = !mobileNav?.classList.contains("hidden")
      mobileNav?.classList.toggle("hidden", isOpen)
      iconOpen?.classList.toggle("hidden", !isOpen)
      iconClose?.classList.toggle("hidden", isOpen)
      btn?.classList.toggle("navigation-open", !isOpen)
    })
  }

  document.addEventListener("astro:page-load", initMobileMenu)
</script>
