---
interface Props {
  maintitle: string
}
const { maintitle = "Códice Clínico" } = Astro.props
---

<section class="pt-40 pb-22 2xl:pt-48">
  <div class="container">
    <div class="max-w-4xl">
      <h1 class="uppercase py-4">
        {maintitle}
      </h1>
      <slot />
    </div>
  </div>
</section>
