---
interface Props {
  maintitle: string
}
const { maintitle = "Códice Clínico" } = Astro.props
---

<section class="pt-40 pb-22 2xl:pt-48">
  <div class="max-w-4xl mx-auto px-4">
    <div class="text-center">
      <h1 class="text-6xl md:text-9xl lg:text-11xl 2xl:text-16xl py-4">
        {maintitle}
      </h1>
      <slot />
    </div>
  </div>
</section>
