---
const maintitle = Astro.props.maintitle
  ? Astro.props.maintitle
  : "Códice Clínico"
const secondarycontent = Astro.props.secondarycontent
---

<section class="py-32 2xl:py-36">
  <div class="container">
    <div class="text-center">
      <h1 class="text-6xl md:text-9xl lg:text-11xl 2xl:text-16xl py-4">
        {maintitle}
      </h1>
      {secondarycontent && <p class="mt-4">{secondarycontent}</p>}
    </div>
  </div>
</section>
