---
import { Check } from "@lucide/astro"
interface Props {
  text: string
  includeIcon?: boolean
}
const { text, includeIcon = true } = Astro.props
---

<li class="my-4">
  <div
    class="flex items-start gap-4 bg-white rounded-xl p-4 shadow-sm border border-m-gray-100"
  >
    {
      includeIcon && (
        <div>
          <div class="size-8 bg-m-blue-500 text-white rounded-full flex items-center justify-center mt-0.5">
            <Check />
          </div>
        </div>
      )
    }
    <span>{text}</span>
  </div>
</li>
